@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
.divider{
    width: 100%;
    height: 100vh;
    display: flex;
}
.left-handside{
    flex: 1;
    background: #fff;
    height: 100%;
    background-color: #fafafc;
    
}
.right-handside{

    flex: 1;
    background:url('photos/Rectangle\ 7.png') ;
    height: 100%;
    
}
.logo{
    margin-top: 5%;
    margin-left: 30%;
    width: 215px;
}
.h1{
    color: #0F0438;
    font-size: 25px;
    margin-left: 23%;
    margin-top: 2%;
   
}
.h3{
color: #716F79;
font-size:  12px; 
margin-left: 23%;
font-weight: lighter;
}
.signform {
    margin-top: 15px;
    margin-left: 23%;
}
.signform label{
    font-size: 13px;
}
::placeholder{
    font-size: 9.25px;
}

.signform input{
    font-size: 12px;
    border: 1px solid #C7C7C7;
    border-radius: 7px;
    padding: 15px;
    width: 160px;
    height: 41px;
}
.restofform{
    margin-top:10px;
    margin-left: 23%; 
}
.restofform label{
    font-size: 13px;
}
.restofform input{
    font-size: 12px;
    border: 1px solid #C7C7C7;
    border-radius: 7px;
    padding: 15px;
    width: 350px;
    height: 41px;
     
}
.cne{
    margin-top: -66px;
    margin-left: 190px;
}

.mail{
margin-top: 10px;
}


.genbirth{
    margin-top: 10px;
    margin-left: 23%;
}
.genbirth label{
    font-size: 13px;
}

.genbirth input{
    font-size: 12px;
    border: 1px solid #C7C7C7;
    border-radius: 7px;
    padding: 15px;
    width: 160px;
    height: 41px;
}
.gender{
   
    margin-top: -55px;
    margin-left: 345px;
   
}
.gender label{
    font-size: 13px;
}
.gender input{
    margin-top: 15px;
    
    
}
#fem{
    margin-left: 18px;
    
}
.btn{
    color: white;
    height: 41px;
    width: 350px;
    margin-top: 20px;
    margin-left: 23%;
    border-radius: 7px;
    background-color: #24379A;
    border: solid #24379A;

}

.remember-forgot{
    
    font-weight: 500;
    margin-top: 20px;
 margin-left: 23%;
    font-size: 11px;
    display: flex;
    justify-content:space-between;

}
.remember-forgot input{
    width: 15px;
  height: 15px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: 0.5px;
  *overflow: hidden;
}
#check{
    color: red;
}
.alrdyacc{
    margin-left: 39%;
    font-size: 11px;
    font-weight: 400;
    margin-top: 14px;
   
}
.alrdyacc h4{
    font-weight: 500;
}
.all{
    margin-top: 20px;
}
 a {
    color: #3C51B4;
    text-decoration: none;
}
 a:hover {
    color: blue;
    text-decoration: underline;
}